:root{
    --orang:#e65d01;
    --black:#0e1936;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);


}
*{
    font-family: Arial, sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;border: none;
    text-transform: capitalize;
    transition: all .5s linear;
}

html{
    font-size: 65.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
/* section{
    padding: 2.3rem 10%;
} */

section:nth-child(even){
    background-color: #eee;
}

header{

    position: fixed;
    top: 0;left: 0;right: 0;
     background: whitesmoke;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;

}

header .logo i{
    margin-right: 15px;
    color: var(--orang);

}


header .nav-bar a{
    text-decoration: none;
    font-size: 2rem;
    border-radius: .6rem;
    padding: 0.6rem 1.5rem;
    color: var(--light-color);



}
/* header .nav-bar  .active{
    background-color: var(--orang);
} */


header .nav-bar a:hover{
   
    color: whitesmoke;
    background: var(--orang);

}

header .icons i,
header .icons a{
    /* text-decoration: none; */
    cursor: pointer;
    margin-left: .6rem;
    height: 4.8rem;
    line-height: 4.8rem;
    width: 4.8rem;
    text-align: center;
    font-size: 1.8rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;


}
header .icons i:hover,
header .icons a:hover{
    color: whitesmoke;
    background: var(--orang);
    transform:rotate(360deg);

}
header .icons #menu-bar{
    display: none;

}

#search-form{
    position: fixed;
    top: -110%;left: 0;
    height: 200px;
    /* height: 100%; */
    width: 100%;
    z-index: 1006;
    background: rgba(0,0,0,.9);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.2rem;
}
#search-form.active{
    top: 0;
}
#search-form #search-box{
    width: 50rem;
    border-bottom: .3 solid whitesmoke;
    padding: 1.1rem;
    color: whitesmoke;
    font-size: 3.2rem;
    text-transform: none;
    background: none;

}
#search-form #search-box:placeholder-shown{
    color: #666;

}
#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance:none;

}
#search-form label{
    color: whitesmoke;
    cursor: pointer;
    font-size: 3.2rem;

}
#search-form label:hover{
    color:var(--orang)

}
#search-form #close{
    position: absolute;
    color: whitesmoke;
    cursor: pointer;
    top: 2.2rem;right: 3.2rem;
    font-size: 5.2rem;

}

.sub-heading{
    margin-top: 20px;
    padding-top: 50px;
    text-align: center;
    color: var(--orang);
    font-size: 4rem;
    padding-top: 1rem;
    font-weight: bolder;
 }

 .heading{
    font-weight: bolder;
    margin-top: 40px;
    text-align: center;
    color: var(--black);
    font-size: 3.2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
 }
.order form{
    width: 90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: 1rem solid rgba(0,0,0,.3);
    background: whitesmoke;
    padding: 1.5rem;
    margin: 0 auto;
}

.order form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.order form .inputBox .input{
    width: 49%;
}

.order form .inputBox .input span{
    display: block;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);

}

.order form .inputBox .input input,
.order form .inputBox .input textarea{
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.7rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;

}

.order form .inputBox .input textarea{
    height: 20rem;
    resize: none;

}

.order form  .btn{
    width: 150px;
    height: 40px;
    padding-top: 6px;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bolder;
    margin-top: 0;
}

#foter{
    margin-top: 20px;
    /* height: 300px; */
    background-color:#2b2929;
    color: white;
}

#foter .box-container{
    margin-left: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

#foter .box-container .box h3{
    margin-top: 1rem;

    /* padding: .5rem 0; */
    font-size: 2.5rem;
    color: whitesmoke;

}

#foter .box-container .box a{
    text-decoration: none;
   
    display: block;
    padding: .2rem 0;
    font-size: 1.5rem;
    color: white;

}
#foter .box-container .box a i{
    margin-right: 9px;
}

#foter .box-container .box a:hover{
    color: var(--orang);
    text-decoration: underline;

}
#foter .credit{
    text-align: center;
    border-top: 1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color: white;
    padding: .1rem;
    padding-top: .5rem;
    margin-top: 1.5rem;
    padding-bottom: .5rem;
}
